/* Generic Style */
*{
  outline: none;
  border: none;
}












body#taboor{
  font-family: 'Roboto', sans-serif;
  color: #191919;
  overflow: hidden;
}
#taboor a{
  color: #3358dd;
  cursor: pointer;
  text-decoration: none;
}
#taboor a:hover{
  color: #ffc107;
}
#taboor h3{
  font-weight: 500;
  font-size: 22px;
}
#taboor h3 #pagedrop{
  opacity: 0;
}
#taboor h3 .checkbox.d-inline-block.form-check.ml-2{
  margin: 0 !important;
}
#taboor h3.section-title{
  font-size: 18px;
  font-weight: 400;
}
#taboor .pb-0{
  padding-bottom: 0 !important;
}
#taboor .pt-0{
  padding-top: 0 !important;
}
#taboor .text-underline{
  text-decoration: underline;
}
#taboor .text-underline:hover{
  text-decoration: none;
}

#taboor .dropdown-toggle::after{
  content: "\e907";
  font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    font-size: 10px;
    vertical-align: middle;
    margin-left: 7px;
}
.input-group .form-control{
  color: #b8b8b8;
  font-weight: 300;
  border-radius: 10px;
}
#taboor .input-group ::placeholder{
  color: #b8b8b8;
  font-weight: 300;
  border-radius: 10px;
}
.input-group .input-group-append .input-group-text{
  color: #b8b8b8;
  font-weight: 300;
  border-radius: 10px;
}
.input-group .input-group-prepend .input-group-text{
  color: #b8b8b8;
  font-weight: 300;
  border-radius: 10px;
}

#taboor .checkbox input[type="checkbox"] {
  position: relative;
  width: 18px;
  height: 18px;
  color: #363839;
  border: 1px solid #e6e7ea;
  background: #fafbfc;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
#taboor .checkbox input[type="checkbox"]::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
    left: 5px;
    width: 6px;
    height: 10px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}
#taboor .checkbox  input[type="checkbox"]:checked {
  color: #fff;
  border-color: #07cf98;
  background: #07cf98;
}
#taboor .checkbox input[type="checkbox"]:checked::before {
  opacity: 1;
}
#taboor .checkbox input[type="checkbox"]:checked ~ label::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#taboor .checkbox label {
  position: relative;
  top: -4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color:#b8b8b8;
  padding: 0 0.5em 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#taboor .checkbox label::before {
  position: absolute;
  /* content: attr(data-content); */
  color: #191919;
  -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #363839;
          text-decoration-color: #363839;
  -webkit-transition: -webkit-clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#taboor .checkbox input[type="checkbox"]:checked + label {
  color: #191919;
}
#taboor h3 .checkbox label{
  color: #191919;
  white-space: nowrap;
}
#taboor h3 .dropdown-toggle{
  color: #191919;
  outline: none;
  box-shadow: none;
}
#taboor .font-xss{
  font-size:.60rem !important
}
#taboor .app-body{
  background: #2f49da;
  margin-top: 0;
}
#taboor .app-body .main {
  background: #fafbfc;
  padding: 20px;
  overflow: auto;
  height: 100vh;
}
#taboor .app-body .main .admin-header .aside-menu{
  margin-top: -20px;
  margin-bottom: -20px;
}
.sidebar-lg-show#taboor .app-body .main {
  border-radius: 30px 0 0 30px;
}
#taboor .sidebar {
  background: #2f49da;
  height: 100vh;
}
#taboor .sidebar .nav-link {
  padding: 1rem 1rem;
  color: #6c87fe;
  font-size: 15px;
  font-weight: 500;
}
#taboor .sidebar .nav-link:hover {
  color: #fff;
  background: none;
}
#taboor .sidebar .nav-link.active{
  color: #fff;
  background: none;
}
#taboor .sidebar .nav-link .nav-icon{
  color: inherit;
  font-size: 16px;
}
#taboor .sidebar .side-logo {
  text-align: center;
  margin: 20px 0 30px;
}
#taboor .sidebar .nav-title{
  display: none;
}
#taboor .sidebar .nav-item .badge {
  margin-right: 0;
  float: none;
  margin-left: 10px;
  border-radius: 8px;
    padding: 4px 6px 2px 6px;
    min-width: 25px;
}
#taboor .sidebar .nav-item .badge.badge-warning{
  background: #f2ac15;
  color: #fff;
}
#taboor .sidebar .nav-item .badge.badge-primary{
  background: #6c87fe;
  color: #fff;
}
#taboor .badge.badge-primary{
  background: #3358dd;
  color: #fff;
}
#taboor .sidebar .divider {
 margin: 5px 0;
}
#taboor .sidebar .nav-dropdown-toggle::before{
  filter: brightness(1.4);
  width: 10px;
  height: 10px;
  top:27px;
  transform: rotate(180deg);
}
#taboor .sidebar .nav-dropdown.open > .nav-dropdown-toggle::before {
  transform: rotate(90deg);
}
.main .admin-header.main-header{
  display: flex;
  margin: 0 30px 25px;
  display: none;
}
.main .admin-header{
  display: flex;
  margin: 0 0 25px;
}
.main .admin-header .page-title{
  flex: 1;
}
.main .admin-header .page-title .breadcrumb{
  margin:0;
  border: none;
  background: none;
  padding: 0;
}
.main .admin-header .page-title .breadcrumb .breadcrumb-item{
  display: none;
}
.main .admin-header .page-title .breadcrumb .breadcrumb-item.active{
  display: block;
  font-size: 22px;
  color: #2f49da;
  font-weight: 600;
  line-height: normal;
}
.main .admin-header .page-title .breadcrumb .breadcrumb-item + .breadcrumb-item::before{
  display: none;
}
.main .admin-header .admin-nav li .nav-link .notify-active{
  font-size: 5px;
  position: absolute;
  right: -1px;
  top: 6px;
  border: 1px solid #fafbfc;
}
#taboor .main .admin-header .admin-nav .profile-toggle-icon li .nav-link.profile-menu{
  background: #ccc;
  border-radius: 10px;
  font-size: 20px;
  line-height: 20px;
  padding:10px 15px;
  color: #fff;
}
#taboor .main .admin-header .admin-nav .profile-toggle-icon li .nav-link.profile-menu:hover{
  background: #2f49da;
  color: #fff;
}
#taboor .dropdown-menu{
  border: none;
  box-shadow: 0 0 10px #00000014;
}
#taboor .dropdown-menu .dropdown-item{
  border-bottom: none;
}
#taboor .dropdown-menu .dropdown-item:focus{
  outline: none;
}

#taboor ul.graph-legends{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
#taboor ul.graph-legends li{
  margin-bottom: 3.5px;
}
#taboor ul.graph-legends li i{
  font-size: 10px;
}
.main .admin-header .admin-nav {
  display: contents;
}
.main .admin-header .admin-nav li{
  margin: 0 20px;
  line-height: 30px;
}
.main .admin-header .admin-nav li .nav-link{
  padding: 0;
  display: block;
}
#taboor .main .admin-header .admin-nav li .nav-link.top-icon{
  line-height: 30px;
  color: #b8b8b8;
}

.main .admin-header .navbar-toggler{
  padding: 0;
  outline: none;
}
.main .navbar-toggler-icon {
  height: 30px;
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2373818f' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); */
  background-image: url(./assets/img/menu-bars.svg);
  background-repeat: no-repeat;
  width: 2em;
}
.main .profile-toggle-icon.navbar-toggler{
  border: none;
  outline: none;
}
.main .profile-toggle-icon.navbar-toggler .navbar-toggler-icon{
  background-image: none;
  background-color: #b8b8b8;
  padding: 7px 10px;
  border-radius: 10px;
  color: #fff;
  width: auto;
  height: auto;
  border: none;
}.main .profile-toggle-icon.navbar-toggler:hover .navbar-toggler-icon{
  background-color: #3358dd;
}
.main .profile-toggle-icon.navbar-toggler .navbar-toggler-icon:after{
  content: "A";
  display: block;
}
#taboor .register-card .card {
  cursor: pointer;
  border: 1px solid transparent;
}
#taboor .register-card .card.active-plan {
  border: 1px solid #07cf98;
}


footer.app-footer {
  display: none;
}
.sidebar .sidebar-minimizer{
  display: none;
}
#taboor hr{
  border-style: dashed;
  margin: 1.5rem 0;
}
#taboor hr.dashed-line{
  border-style: dashed;
}
#taboor .no-wrap{
  white-space: nowrap;
}
#taboor .wrap-initial{
  white-space: initial;
}
#taboor .btn {
  border-radius: 10px;
  padding: 0.44rem 1.1rem;
  cursor: pointer;
  box-shadow: none;
}
#taboor .btn-outline-warning{
  color: #f2ac15;
  border-color: #f2ac15;
}
#taboor .btn-outline-warning:hover{
  color: #fff;
  background-color: #f2ac15;
}
#taboor .btn.btn-warning {
  color: #fff;
  background-color: #f2ac15;
  border-color: #f2ac15;
}
#taboor .btn.btn-warning:hover {
  color: #fff;
  background-color: #2f49da;
  border-color: #2f49da;
}
#taboor .btn.btn-selected{
  color: #fff;
  background-color: #2f49da;
  border-color: #2f49da;
}
#taboor .btn-light {
  color: #23282c;
  background-color: #fff;
  border-color: #c8ced3;
}
#taboor .table-md th,
#taboor .table-md td{
  padding: 7px;
    vertical-align: middle;
}
#taboor aside.aside-menu {
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 10px #00000014;
  width: 267px;
}
html:not([dir="rtl"]) #taboor.aside-menu-show .aside-menu, 
html:not([dir="rtl"]) #taboor.aside-menu-lg-show .aside-menu{
margin-right: 0;
}
html:not([dir="rtl"]) #taboor .aside-menu {
  right: 0;
  margin-right: -267px;
}
#taboor .aside-menu .tab-content{
  border: none;
}
#taboor .aside-menu .nav-tabs {
  display: block;
  border: none;
}
#taboor .aside-menu .nav-tabs .nav-link.active{
  background: none;
}

#taboor .aside-menu .nav-tabs .navbar-toggler .navbar-toggler-icon{
  width: auto;
  height: auto;
}
#taboor .list-dots{
  margin: 0;
  padding: 0 0 0 15px;
}
#taboor .list-dots li{
  color: #f2ac15;
  line-height: normal;
  margin-bottom: 8px;
}
#taboor .list-dots li a{
  color: #b8b8b8;
}

#taboor .blue-dots li{
  color: #3358dd;
  line-height: normal;
  margin-bottom: 8px;
}

#taboor .profile-logo{
  background: #f6f7fa;
  padding: 0px;
  text-align: center;
  color: #3358dd;
  font-size: 20px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 0 auto 15px;
  font-weight: 400;
  text-transform: uppercase;
  overflow: hidden;

}
#taboor .profile-logo img.img-fluid {
  height: 100%;
}

#taboor .card{
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px #00000014;
}
#taboor .card .card-body h4{
  font-size: 1.2rem;
}

#taboor .theme-widget{
  color: #333;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px #00000014;
}
#taboor .theme-widget .widget-icon{
  border-radius: 10px;
  background: #f0f1f5;
  color: #4868df;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
}
#taboor .theme-widget .widget-title p{
  margin: 0;
  color: #4868df;
  line-height: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#taboor .theme-widget .widget-title h5{
  font-weight: 700;
}
#taboor .theme-widget h3{
  margin: 0;
  font-weight: 400;
}
#taboor .theme-widget h6{
  color: #b8b8b8;
  margin-bottom: 5px;
}
#taboor .theme-widget sub{
  bottom: 0;
}
#taboor .card-primary{
  background-color: #2f49da;
  border-color: #2f49da;
}

#taboor .card-simple {
  background: none;
  border: 1px solid #ececec;
  box-shadow: none;
}
#taboor .card-simple  p{
  color:#bebebe;
  margin-bottom: 5px;
}
#taboor .card-simple  h5{
  color:#191919;
  margin-bottom: 5px;
}
#taboor .card-simple .widget-icon{
  color:#bebebe;
  font-size: 20px;
  text-align: right;
}


#taboor .list-simple{
  list-style: none;
  border: none;
  padding: 0;
}
#taboor .list-simple li{
  list-style: none;
  border: none;
  padding: 0;
  margin-bottom: 5px;
}
#taboor .list-simple li:last-child{
  margin-bottom: 0px;
}

#taboor .table-v-middle th,
#taboor .table-v-middle td{
  vertical-align: middle;
}

#taboor table tr p{
  margin: 0;
}
#taboor table tr td .checkbox .form-check-input{
  margin-top: 0;
}
#taboor table tr td .checkbox .form-check-label{
  margin: 0;
}
#taboor table tr td .checkbox.form-check{
  line-height: 14px;
  padding-left: 1.1rem;
}
#taboor .up-dot i{
  color: #07cf98;
  font-size: 6px;
}
#taboor .up-dot i.red{
  color: red !important;
  font-size: 6px;
}
#taboor .line-h-normal{
  line-height: normal;
}
#taboor .table-card{
  border-radius: 20px;
}
#taboor .table-card tr th,
#taboor .table-card tr td{
  padding: 14px;
  font-weight: 500;
  border-color: #f0f1f5;
  line-height: normal;
}
#taboor .table-card tr th{
  border: none;
  color: #b8b8b8;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}
#taboor .table-card tr th.bg-warning{
  color: #fff;
}
#taboor .table-card tr td.bg-warning{
  color: #fff;
  border-color: #e4a214;
}
#taboor .table-card.table-tbody tr:first-child td:first-child{
  border-top-left-radius: 20px;
}
#taboor .table-card.table-tbody tr:first-child td:last-child{
  border-top-right-radius: 20px;
}
#taboor .table-card tr:first-child th:first-child{
  border-top-left-radius: 20px;
}
#taboor .table-card tr:last-child td:first-child{
  border-bottom-left-radius: 20px;
}
#taboor .table-card tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}
.dash-content{
  display: none;
}
#taboor .app-header{
  display: none;
}
#taboor .grey-list li a{
  color: #ccc;
  padding: 5px 16px;
  border-radius: 10px;
  margin: 0 2px;
}
#taboor .grey-list li.active a{
  background-color: #2f49da;
  color: #fff;
  
}
#taboor .grey-list li:hover a{
  background-color: #2f49da;
  color: #fff;
}

#taboor .bg-warning{
  background-color: #f2ac15 !important;
}

#taboor .f20{
  font-size: 20px;
}
#taboor .text-light-grey{
  color: #b8b8b8;
}
#taboor .sky-blue{
  color: #6c87fe;
}
body#taboor .text-primary {
  color: #3358dd !important;
}
#taboor .btn-primary {
  color: #fff;
  background-color: #3358dd;
  border-color: #3358dd;
}
#taboor .bg-primary{
  background-color: #3358dd !important;
}
#taboor .btn-outline-primary{
color: #3358dd;
border-color: #3358dd;
}
#taboor .btn-outline-primary:hover{
  color: #fff;
  border-color: #3358dd;
  background-color: #3358dd;
  }
#taboor .pie-graph canvas{
  
}

#taboor .landing-page{
  background-color: #fff;
  padding: 70px;
}
#taboor .landing-button{
  margin-top: 100px;
}
#taboor .landing-button button{
  background-color: #750578;
  border-radius: 0;
  color: #fff;
  padding: 25px;
  border: none;
  font-size: 36px;
}

#taboor div#calendar.e-calendar {
  position: absolute;
  right: 0;
  z-index: 99;
}
#taboor .login-logo a{
  text-align: center;
}
#taboor .login-logo a img{
  width: 70%;
  margin: auto;
}
#taboor .login-page{
  background-color: #1d2655;
  background-image: url(../src/assets/img/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#taboor .login-page .input-line .form-control{
  color: #73818f;
}
#taboor .login-page .input-line ::placeholder{
  color: #b8b8b8;
}
#taboor .register-page{
  background-color: #3358dd;
  background-image: url(../src/assets/img/register-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#taboor .register-page.success-page{
  background-color: #3358dd;
  background-image: url(../src/assets/img/success-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}
#taboor .register-page .register-card{
  background:#fafbfc;
  border-radius: 0 20px 20px 0;
  padding: 15px 25px 15px 15px;
  box-shadow: 20px 0 20px #00000014;
  min-height: 100vh;
}

#taboor .register-page .register-card .card-footer{
  background:#fafbfc;
  border-radius: 0 0 20px 20px;
}
#taboor .register-page .register-card h2{
  font-weight: 600;
}
#taboor .register-page .register-card h4{
  font-weight: 600;
  font-size: 22px;
}
#taboor .form-group.select-multiple select.form-control{
  border-radius: 15px;
    padding: 15px;
    height: auto;
}
#taboor .text-overflow-hide{
  max-width: 95%;
  overflow: hidden;
  display: inline-block;
}
#taboor .success-page p{
  font-size: 22px;
    color: #191919;
    line-height: normal;
    font-weight: 400;
}
#taboor .success-page h1{
  font-size: 50px;
  color: #07cf98;
  font-weight: bold;
}
#taboor .success-page .icon-success{
  font-size: 24px;
  color: #07cf98;
  font-weight: bold;
  margin: 15px 0;
}
#taboor .success-page h3{
  font-size: 32px;
  color: #191919;
  line-height: normal;
}
#taboor .text-success{
  color: #07cf98 !important;
}
#taboor .text-warning{
  color: #f2ac15 !important;
}
#taboor .text-dark{
  color: #191919 !important;
}
#taboor select.form-control{
  border-radius: 10px;
  padding: 0.44rem 1.1rem;
  cursor: pointer;
  box-shadow: none;
  color: #c8ced3;
    border-color: #c8ced3;
}
#taboor .input-line select.form-control{
  padding: 0;
  margin-left: -4px;
}
#taboor .input-line select.form-control option{
  padding: 0;
}
#taboor .input-line .form-control{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
  color: #191919;
  font-weight: 400;
  background: none;
}
#taboor .input-line .form-control[type="date"]{
  cursor: pointer;
}
#taboor .input-line ::placeholder{
  color: #b8b8b8;
  font-weight: 400;
}
#filter-row .e-input-group.e-control-wrapper{
  margin: 0 !important;
  height: 100%;
  border-bottom: 1px solid #e4e7ea;
}
#filter-row .e-input-group.e-control-wrapper .e-input{
  min-height: 26px;
}
#taboor .payment-cards ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#taboor .payment-cards ul li{
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
#taboor .payment-cards ul li:last-child{
  margin-right: 0;
}
#taboor .payment-cards ul li a{
  border: 1px solid #e7e7e7;
  padding: 7px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
}
#taboor .payment-cards ul li.active a,
#taboor .payment-cards ul li:hover a{
  border-color: #07cf98;
  box-shadow: 0 0 10px #07cf9814;
}
#taboor .input-line .react-datepicker__input-container input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
  color: #1b1b1b;
  font-weight: 600;
  background: none;
  width: 100%;
  border-width: 1px;
  border-bottom: 1px solid #e4e7ea;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0;
  font-size: 0.875rem;
}
#taboor .input-line .react-datepicker-wrapper{
display: block;
}
#taboor .text-info{
  color: #a6b7f4 !important;
}
.copyright{
  text-align: center;
  position: absolute;
  bottom:20px;
  left: 0;
  right: 0;
}
#taboor .copyright a{
  font-size: 16px;
  color: #b4bacf;
  font-weight: 300;
  text-decoration: underline;
}
#taboor ::placeholder{
  color: #b8b8b8;
  font-weight: 400;
}
#taboor .td-truncate{
  display: table-caption;
  width: 300px;
}
#taboor .input-line .input-group-text{
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}
#taboor .input-line .input-group-prepend a{
  color: #b8b8b8;
  font-size: 18px;
}
#taboor .form-group{
  margin: 0 0 30px;
}
#taboor .form-group label{
  margin: 0;
  font-size: 13px;
  color: #b8b8b8;
}
#taboor table tr .form-group{
  margin: 0px;
}
#taboor .upload-image .file-input{
  display: none;
}
#taboor .upload-image .custom-file-upload input[type="file"] {
  display: none;
}
#taboor .upload-image .custom-file-upload .custom-file-content {
  background-color: #f2ac15;
  color: #fff;
  border-radius: 20px;
  padding: 40px 55px;
  cursor: pointer;
  margin: 0;
  font-size: 15px;
}
#taboor .upload-image .uploaded-image{
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 194px;
    margin-left: auto;
}
#taboor .upload-image .uploaded-image .remove-image{
  position: absolute;
  right: 8px;
  top: 5px;
  color: #fff;
  font-size: 18px;
  display: none;
  cursor: pointer;
}
#taboor .upload-image .uploaded-image:hover .remove-image{
  color: #f2ac15;
  display: block;
}
#taboor .rc-steps-item-icon{
  background: none;
  border-radius: 8px;
  border: 1px solid #6c87fe;
  
}
#taboor .rc-steps-vertical .rc-steps-item-tail{
  top: 5%;
  height: 90%;
}
#taboor .rc-steps-item-active .rc-steps-item-icon{
  border-color: #fff;
}
#taboor .rc-steps-item-active .rc-steps-item-icon .rc-steps-icon{
  color: #fff;
}
#taboor .rc-steps-item-icon .rc-steps-icon{
  color: #3358dd;
}
#taboor .rc-steps-item .rc-steps-item-tail:after {
  background: #6c87fe;
}
#taboor .rc-steps-item-content{
  margin: 0 0 30px;
}
#taboor .rc-steps-item-process .rc-steps-item-title{
  color: #fff;
}
#taboor .rc-steps-item-process.rc-steps-item .rc-steps-item-description{
  color: #fff;
}
#taboor .rc-steps-item .rc-steps-item-description{
  color: #6c87fe;
  font-size: 14px;
}
#taboor .rc-steps-item-wait .rc-steps-item-title{
  color: #6c87fe;
}
#taboor .rc-steps-item-finish .rc-steps-item-title {
  color: #fff;
}
#taboor .rc-steps-item-finish .rc-steps-item-icon {
  border-color: #fff;
  background-color: #fff;
  color: #108ee9;
}
#taboor .rc-steps-item-icon > .rc-steps-icon.rcicon-check:before{
  content: "\e613";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}



#taboor .rc-steps-horizontal .rc-steps-item-content {
  margin: 0px;
}
#taboor .rc-steps-horizontal:not(.rc-steps-label-vertical) .rc-steps-item-tail{
  display: block;
}
#taboor .rc-steps-horizontal .rc-steps-item {
  text-align: left;
}
#taboor .rc-steps-horizontal .rc-steps-item .rc-steps-item-tail:after{
  content: none;
}
#taboor .rc-steps-horizontal .rc-steps-item-finish .rc-steps-item-icon {
  border-color: #108ee9;
  background-color: #108ee9;
  color: #fff;
}
#taboor .rc-steps-horizontal .rc-steps-item-icon .rc-steps-icon{
  color: #fff;
}
#taboor .rc-steps-horizontal .rc-steps-item-finish .rc-steps-item-title{
  color:#23282c;
}


#taboor .rc-steps-horizontal .rc-steps-item-process .rc-steps-item-icon {
  background: none;
  border-radius: 7px;
  border: 1px solid #3358dd;
}
#taboor .rc-steps-horizontal .rc-steps-item-process .rc-steps-item-title {
  color: #191919;
}
#taboor .rc-steps-horizontal .rc-steps-item-process .rc-steps-item-icon .rc-steps-icon {
  color: #3358dd;
}
#taboor .rc-steps-item-icon, #taboor .rc-steps-item-content {
  vertical-align: baseline;
}

#taboor .rc-steps-horizontal .rc-steps-item-wait .rc-steps-item-icon {
  background: none;
  border-radius: 7px;
  border: 1px solid #b8b8b8;
}
#taboor .rc-steps-horizontal .rc-steps-item-wait .rc-steps-item-title {
  color: #b8b8b8;
}
#taboor .rc-steps-horizontal .rc-steps-item-wait .rc-steps-item-icon .rc-steps-icon {
  color: #b8b8b8;
}

#taboor .dv-star-rating label.dv-star-rating-star{
  margin-bottom: 0;
}


#taboor .notifications-list{
  margin: 0;
  list-style: none;
  padding: 0 10px;
}
#taboor .notifications-list li{
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0;
}
#taboor .notifications-list li h5{
  font-weight: 400;
  font-size: 14px;
}
#taboor .notifications-list li .badge i{
  font-size: 14px;
}




#taboor .badge{
  border-radius: 8px;
  padding: 5px 7px;
  font-weight: 400;
  font-size: 12px;
}
#taboor table .badge{
  font-size: 13px;
}
#taboor .badge-success {
  color: #06cf99;
  background-color: #d3fff3;
}
#taboor .badge-danger {
  color: #f72c39;
  background-color: #ffe1e3;
}
#taboor .badge-info {
  color: #3d60df;
  background-color: #dde4ff;
}
#taboor .badge-warning {
  color: #eeaf26;
  background-color: #fff0d0;
}
#taboor .badge-warning-dark {
  color: #fff;
  background-color: #eeaf26;
}
#taboor .badge-pill {
  border-radius: 10rem !important;
}

#taboor .tabs-line .nav-tabs{
  border-bottom: 1px solid #ececec;
  justify-content: center;
}
#taboor .tabs-line .nav-tabs .nav-item{
  margin: 0 30px -2px;
}
#taboor .tabs-line .nav-tabs .nav-link{
  border: none;
  background: none;
  color: #b8b8b8;
}
#taboor .tabs-line .nav-tabs .nav-link h5{
  font-weight: 400;
}
#taboor .tabs-line .nav-tabs .nav-link p{
  color: #b8b8b8;
}
#taboor .tabs-line .nav-tabs .nav-link.active{
  border: none;
  border-bottom: 3px solid #3358dd;
  background: none;
  color: #3358dd;
}
#taboor .tabs-line .tab-content{
  background: none;
  border: none;
  padding: 0;
}
#taboor .tabs-line .tab-pane{
  padding: 0;
}




#taboor .tabs-line.tabs-small .nav-tabs{
  max-width: 160px;
  margin: auto;
}
#taboor .tabs-line.tabs-small .nav-tabs .nav-item{
  margin-left: 0;
  margin-right: 0;
}
#taboor .tabs-line.tabs-small .nav-tabs .nav-link h5{
  font-size: 12px;
  font-weight: 400;
}

#taboor p{
color: #191919;
font-weight: 500;
}
#taboor p.text-light-grey {
  color: #b8b8b8;
  font-size: 13px;
  font-weight: 400;
}
#taboor .plan-info .btn{
padding-left: 1.5rem;
padding-right: 1.5rem;
  }
body .switch.switch-3d {
  width: 42px;
  height: 14px;
}
body .switch.switch-3d .switch-slider::before {
  top: -5px;
  width: 22px;
  height: 22px;
}
body .switch-input:checked ~ .switch-slider::before {
  transform: translateX(21px);
}
body .switch-3d .switch-slider {
  background-color: #ffe1e3;
  border-color: #ffe1e3;
}
body .switch-3d .switch-slider::before{
  background-color: #f72b39;
}

body .switch-success .switch-input:checked + .switch-slider {
  background-color: #c4feef;
  border-color: #c4feef;
}
body .switch-success .switch-input:checked + .switch-slider::before{
  background-color: #06cf99;
  border-color: #06cf99;
}













#taboor .card-box{
  box-shadow: none;
  border: 1px dashed #e7e7e7;
  border-radius: 10px;
}
#taboor .card-box .card-header{
  background: none;
  border:none;
  padding-bottom: 0;
}
#taboor .card-box .card-body{
  padding-top: 0;
}

#taboor .card-line{
  box-shadow: none;
  border: 1px solid #d4d4d5 !important;
  border-radius: 15px;
  background: none;
}
#taboor .card-line .card-header{
  background: none;
  border:none;
  padding-bottom: 0;
}


#taboor .card-light{
  box-shadow: none;
  border:none;
  border-radius: 10px;
  background: #fafbfc;
}
#taboor .card-light .card-header{
  background: none;
  border:none;
  padding-bottom: 0;
}


#taboor .card-simple{
  box-shadow: 0 0 10px #00000014;
  border: none;
  border-radius: 10px;
  background: #fff;
  padding: 7px;
}
#taboor .card-simple .card-header{
  background: none;
  border:none;
  padding-bottom: 0;
}
#taboor .card-simple .card-body{
  padding-top: 0;
}


#taboor .badge-tag{
  background: none;
  border: 1px solid #e7e7e7;
  color: #c1c1c1;
  font-size: 13px;
}



#taboor .card-list{
  box-shadow: none;
  border: 1px dashed #6682fb;
  border-radius: 10px;
  background: none;
  color: #6682fb;
}
#taboor .card-list .card-header-actions a{
  color: #6682fb;
}
#taboor .card-list .card-header-actions a:hover{
  color: #fff;
}
#taboor .card-list .table{
  color: #6682fb;
}

#taboor .active-plan{
  border: 1px solid #07cf98;
  position: relative;
  overflow: hidden;
}
#taboor .active-plan:after{
  position: absolute;
  right: 0;
  top: 0;
  content:"";
  width: 0; 
  height: 0; 
  border-top: 40px solid #07cf98; 
  border-left: 40px solid transparent; 
}
#taboor .active-plan:before{
  position: absolute;
  right: 8px;
  top: 6px;
  color: #fff;
  display: block;
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 9;
  font-size: 12px;
}


#taboor .theme-alert{
  border: 1px dashed #c8ced3;
    color: #3358dd;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px 20px;
    background: none;
}
#taboor .alert-dismissible .close {
  color: #b8b8b8;
  padding: 0;
  cursor: pointer;
  position: initial;
  outline: none;
}
#taboor .theme-alert h5{
  font-weight: 400;
}
#accordion .card{
  box-shadow: none;
  background: none;
}
#accordion .card-header{
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  background: none;
}
#accordion .card-header button{
  text-decoration: none;
}
#accordion .card-header .icon-arrow-down{
  display: block;
  color: #c8ced3;
  margin-top: 4px;
  font-weight: 600;
    font-size: 15px;
}
#accordion .card-header .icon-arrow-up{
  display: none;
  color: #3358dd;
  font-weight: 600;
    font-size: 15px;
}
#accordion .card-header h5{
  color:#191919;
  font-size: 17px;
  text-decoration: none;
}
#accordion .card-body{
  color:#b8b8b8;
  font-size: 14px;
}
#accordion .card.active{
  box-shadow: none;
  background: #fff;
  box-shadow: 0 0 10px #00000014;
}
#accordion .card.active .card-header{
  border:none;
  border-radius: 10px;
  background: none;
  padding-bottom: 0;
    padding-top: 20px;
}
#accordion .card.active .card-header h5{
  color: #2f49da;
}

#accordion .card.active .card-header  .icon-arrow-down{
  display: none;
}
#accordion .card.active .card-header  .icon-arrow-up{
  display: block;
  margin-top: 2px;
}

#taboor .card-hover .dots-menu{
  color: #b8b8b8;
  font-size: 30px;
  opacity: 0;
}
#taboor .card-hover .dots-menu:hover{
  color: #f2ac15;
}
#taboor .card-hover:hover .dots-menu{
  opacity: 1;
}

.w-90{
  width: 90% !important;
}
#taboor .custom-file{
  border: none;
    border-radius: 0;
    padding-left: 0;
    color: #191919;
    font-weight: 400;
    background: none;
    border-radius: 0;
}
#taboor .custom-file .custom-file-label{
  color: #3358dd !important;
    font-weight: 400;
    border: none;
    padding-left: 0;
    font-size: 14px;
    border-bottom: 1px solid #e4e7ea;
    border-radius: 0;
}
#taboor .custom-file .custom-file-input{
  border: none;
  cursor: pointer;
}
#taboor .custom-file-input:lang(en) ~ .custom-file-label::after{
  content: none;
}


.modal .modal-header{
  border-bottom: none;
}
.modal .modal-header .modal-title{
  font-size: 24px;
}
.modal .modal-content{
  padding: 30px;
  border-radius: 25px;
}
.modal .modal-footer{
  border-top: none;
}
.modal .modal-footer .btn{
  min-width: 100px;
  margin-left: 10px;
}
.pac-container{
  z-index: 99999999 !important;
}






/*Form Wizard*/
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 11px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 12px; height: 12px; display: block; background: #ffe1e3; top: 33px; left: 50%; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 6px; height: 6px; background: #fff; border-radius: 50px; position: absolute; top: 2.7px; left: 2.8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 3px; box-shadow: none; margin: 22px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/













/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f49da52;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f49da;
}

#taboor .ps__rail-y{
  width: 8px;
  background: none;
}
#taboor .ps__rail-y:hover > .ps__thumb-y, #taboor .ps__rail-y:focus > #taboor .ps__thumb-y, #taboor .ps__rail-y.ps--clicking .ps__thumb-y{
  width: 6px;
}








.Toaster__alert {
  background-color: red !important;
  overflow: hidden;
  max-width: 650px;
  position: relative;
  border-radius: 0.4rem;
  display: flex;
  padding: 1rem;
  padding-right: 48px;
  box-shadow: rgba(52, 58, 64, 0.15) 0px 1px 10px 0px,
    rgba(52, 58, 64, 0.1) 0px 6px 12px 0px,
    rgba(52, 58, 64, 0.12) 0px 6px 15px -2px;
}
.Toaster__alert_text {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color:white !important;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem;
  margin: 0px;
}
.Toaster__alert_close {
  padding: 12px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 7px;
  right: 4px;
  border-radius: 0.4rem;
  border: 0;
  -webkit-appearance: none;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: 1 !important;
  color:white !important
}
.assignedBranch{
  background: red;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 0.4rem;
  overflow: hidden;
  padding: 1rem;
  padding-right: 48px;
  color:white !important;
  box-shadow:rgba(52, 58, 64, 0.15) 0px 1px 10px 0px, rgba(52, 58, 64, 0.1) 0px 6px 12px 0px, rgba(52, 58, 64, 0.12) 0px 6px 15px -2px
}
.assigendBranchCross{
  padding: 12px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 7px;
  right: 4px;
  border-radius: 0.4rem;
  border: 0;
  -webkit-appearance: none;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  color:white !important;
  opacity: 1 !important;
}
.capifirstltr{
  text-transform: lowercase !important;
}
.capifirstltr:first-letter{
  text-transform: uppercase !important;
}


.e-clear-icon{
  /* visibility: hidden; */
display: none !important;    /* disabled: true; / Does not work / */

}
@media (max-width:1500px){
  #taboor .rc-steps-item-content{
    margin: 0 0 20px;
    line-height: normal;
  }
  h5, .h5 {
    font-size: 1rem;
  }
  #taboor .success-page p{
    font-size: 20px;
  }
}

@media (max-width:1400px){
  #taboor .rc-steps-item-content{
    margin: 0 0 15px;
  }
  #taboor .card .card-body h4 {
    font-size: 1rem;
}
#taboor .success-page p{
  font-size: 18px;
}
#taboor .rc-steps-item .rc-steps-item-description {
  font-size: 13px;
  padding-bottom: 10px;
}
#taboor .success-page h3 {
  font-size: 24px;
}
#taboor .register-page .register-card h2 {
  font-size: 1.5rem;
}

#taboor .register-page {
  background-position: right 7px bottom -10px;
  background-size: 25%;
}

}
@media (max-width:1200px){
  #taboor .rc-steps-item-content{
    margin: 0 0 10px;
  }
  #taboor .success-page p{
    font-size: 13px;
  }
  #taboor .rc-steps-item .rc-steps-item-description {
    font-size: 11px;
    padding-bottom: 0px;
  }
  #taboor .success-page .icon-success {
    font-size: 16px;
  }
  #taboor .success-page h1 {
    font-size: 36px;
  }
  #taboor .success-page h3 {
    font-size: 20px;
  }
  #taboor .register-page .register-card h2 {
    font-size: 1rem;
  }
  #taboor .btn {
    font-size: 11px;
  }
  #taboor .register-page {
    background-position: right 7px bottom -27px;
    background-size: 22%;
  }
}
@media (max-width:992px){
  h5, .h5 {
    font-size: .9rem;
  }
  #taboor .rc-steps-item-content{
    margin: 0 0 5px;
  }
  #taboor .success-page p{
    font-size: 12px;
  }
  #taboor .rc-steps-item .rc-steps-item-description {
    font-size: 10px;
    padding-bottom: 0px;
  }
  #taboor .success-page .icon-success {
    font-size: 14px;
  }
  #taboor .success-page h1 {
    font-size: 30px;
  }
  #taboor .success-page h3 {
    font-size: 16px;
  }
  #taboor .register-page .register-card h2 {
    font-size: 0.8rem;
  }
  #taboor .register-page {
    background-position: right 7px bottom -27px;
    background-size: 20%;
  }
}

.height-card{
  height: 100%;
}
.scrollbar-container {
  position: unset !important; 
}
.ps__rail-x {
  display: none !important;
}
.ps__rail-y{
  display: none !important;
}
.discount_btn_register{
  color: #fff !important;
  background-color: #f2ac15 !important;
  border-color: #f2ac15 !important;
}
.discount_btn_register:hover{
  color: #fff !important;
  background-color: #f2ac15 !important;
  border-color: #f2ac15 !important;
}
/* hamza css  */
.react-confirm-alert-button-group button:nth-child(1) {
  background-color: #3358dd !important;
}
.react-confirm-alert-button-group button:nth-child(2) {
  background-color: #444 !important;
}
/* hamza css  */